%h1 Find a need:
%h3 Select an organization below to see a list of specific locations and needs.
%br
%br

%table.table
  %tr
    - @organizations.each do |organization|
      %tr
        %td
          .accordian_box
            = organization.name
            
            =# each location needs to be hidden until the parent org is clicked.
            - organization.locations.each do |location|
              .location_subtree
                = location.name
                
                =# each need should be hidden until the parent location is clicked.
                - location.needs.each do |need|
                  .need_subtree
                    = need.type
                    = need.description
%br

